@import '../styles/globalStyles.scss';

.diarylist__item {
  flex-direction: row;
  margin:0.3em;
  padding: 0.5em 0.3em;
  border-radius: 0.1em;
  background-color: rgba(255,255,255,.2);
  align-items: center;

  .item__icon {
    flex-grow: 1;
    width: 30px;
    height:30px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .item__label {
    flex-grow: 4;
    color: $white;
  }

  .item__time {
    flex-grow: 1;
    color: rgba(255, 255, 255, .5);
  }
}
