.diarylist__item {
  flex-direction: row;
  margin: 0.3em;
  padding: 0.5em 0.3em;
  border-radius: 0.1em;
  background-color: rgba(255, 255, 255, 0.2);
  align-items: center; }
  .diarylist__item .item__icon {
    flex-grow: 1;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain; }
  .diarylist__item .item__label {
    flex-grow: 4;
    color: #ffffff; }
  .diarylist__item .item__time {
    flex-grow: 1;
    color: rgba(255, 255, 255, 0.5); }
