@import '../styles/globalStyles.scss';

.diarylist__item {
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  margin:0.3em;
  padding: 0.5em 0.3em;
  border-radius: 0.1em;
  background-color: rgba(255,255,255,.2);
  align-items: center;
  position: relative;
  overflow: hidden;

  .item__icon {
    width: 30px;
    height:30px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 1em 0 0.5em;
  }

  .item__label {
    flex-grow: 1;
    color: $white;
  }

  .item__time {
    color: rgba(255, 255, 255, .5);
    background-image: url('../icons/clock.svg');
    background-repeat: no-repeat;
    padding-left:1.5em;
    margin: 0 0.5em 0 0;
  }

  .editdelete__container {
    position:absolute;
    transform: translateX(200px);
    right:0;
    flex-direction: row;
    background-color: $turquoise;
    align-items: center;
    height: 100%;
    box-shadow: 8px 3px 10px 9px rgba(0,0,0,.2);
  }

  .editdelete__container--visible {
    transform: translateX(0);
  }

  .item__delete, .item__edit {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    margin: 0 1em;
    padding:0.1em;
  }

  .item__delete {
    background-image: url('../icons/delete.svg');
  }

  .item__edit {
    background-image: url('../icons/edit.svg');
  }
}
