.stepper {
  margin: 1em 0; }

.stepper__label {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff; }

.stepper__wrapper {
  flex-direction: row;
  justify-content: space-between; }

.stepper__value {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 27px;
  font-weight: 100; }

.stepper__button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center; }

.stepper__button--right {
  background-image: url("../icons/arrow-right.svg");
  margin-right: 3em; }

.stepper__button--left {
  background-image: url("../icons/arrow-left.svg");
  margin-left: 3em; }
