@import '../styles/globalStyles.scss';

.stepper {

}

.stepper__label {
  text-align: center;
  text-transform: uppercase;
  color:$white;

}

.stepper__button {
  width:30px;
  height:30px;
  background-color: transparent;
  background-repeat: no-repeat;
}

.stepper__wrapper {
  flex-direction: row;
  justify-content: space-around;
}

.stepper__value {
  color:$white;
  text-transform: uppercase;
  font-size: $baseFontSize * 1.5;
  font-weight:100;
}

.stepper__button--right {
  background-image: url('../icons/arrow_right.svg');
}

.stepper__button--left {
  background-image: url('../icons/arrow_left.svg');
}
