.startupLoader {
  align-items: center;
  height: 100vh;
  justify-content: center; }
  .startupLoader .loader__logo {
    width: 80%;
    height: 200px; }

.startupLoader__payoff {
  text-align: center; }
