@import '../styles/globalStyles.scss';

.drawer {
  position:fixed;
  top: 0;
  left: 2em;
  right: 0;
  bottom: 0;
  z-index: 2;
  box-shadow: 0 0 10px 7px rgba(0,0,0,.5);
  background-color: $blue;
  transform: translateX(110%);
  transition: all .5s;
}

.drawer--open {
  transform: translateX(0%);
}

