$blue: #34AAFE;
$indigo: #4C59AD;
$purple: #7E2FE3;
$velvet: #48116D;
$turquoise: #69E3BF;
$copperrose: #9D6666;
$white: #ffffff;
$black: #222222;

$modalBackground: $purple;
$textColor: $white;
$baseFontSize: 18px;
