.header {
  text-transform: uppercase;
  color: #ffffff;
  margin: 1.5em 1em 1em 1em;
  font-size: 36px;
  text-align: center;
  font-weight: 100;
  font-style: italic; }

.subHeader {
  color: #ffffff;
  margin: 1.5em 1em 1em 1em;
  font-size: 27px;
  text-align: center;
  font-weight: 100; }
