@import '../styles/globalStyles.scss';

.titleBar {
  flex-direction: row;
  justify-content: space-between;
  padding: .8em 0;

  .titleBar__backButton {
    flex: 1;
  }

  .titleBar__label {
    flex: 8;
    color: $white;
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;
    font-size: $baseFontSize * 1.2;
  }

  .titleBar__menuButton {
    flex: 1;
  }
}
