@import '../styles/globalStyles.scss';

.titleBar {
  position: fixed;
  width:100%;
  background-color: $indigo;
  box-shadow: 0 2px 1px 0 rgba(0,0,0,.3);
  flex-direction: row;
  justify-content: space-between;
  padding: .8em 0;

  .titleBar__backButton {
    flex: 1;
  }

  .titleBar__label {
    flex: 7;
    color: $white;
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;
    font-size: $baseFontSize * 1.2;
  }

  .titleBar__menuButton {
    flex: 1;
  }
}

.titleBar__wrapper {
  margin-bottom: 3.5em;
}
